$primary-color: #3498db;
$secondary-color: #2ecc71;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 2rem; 
    font-weight: 200; 
    gap: 1.5rem; 
}

* {
    font-family: 'Space Grotesk', sans-serif; 
}

.column-1, .column-2 { 
     display: flex; 
     flex-direction: column; 
     border-radius: 10px; 
}

.column-2 {
    background-color: rgba($secondary-color, 0.7); 
    padding: 1rem; 
}

#new-task {
    margin-bottom: 0.75rem;
}

h2 {
    font-weight: 400; 
    font-size: 1.25rem; 
}

.clock-container {
    background: rgba($primary-color, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem; 
    width: 12rem; 
    border-radius: 10px; 
    backdrop-filter: blur(); 
    text-align: center; 
}

.digital-clock {
    display: flex;
    align-items: center;
    min-height: 12vh;
    box-sizing: border-box;
    // color: #fff;
    position: relative;
    font-size: 20px; 
}

.clock {
    display: flex; 
    gap: 0.25em; 
    justify-content: center; 
    height: 100%; 
    line-height: 4rem; 
}


#hours, #minutes, #seconds, #am-pm {
    width: 2ch; 
    text-align: center;
}

.clock-colon {
    margin: 0 0.25em; 
    display: inline-block; 

}
    